@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  body {
    @apply antialiased selection:bg-rose-100 selection:text-rose-900 bg-white text-gray-900;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-50;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-200 border-4 border-transparent bg-clip-content rounded-full hover:bg-gray-300 transition-colors;
}

.glass {
  @apply bg-white/70 backdrop-blur-xl border border-white/20;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-rose-600 to-rose-900;
}
