<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Tribite</title>
    <link rel="stylesheet" href="..\..\assets\css\global.css">
    <link rel="stylesheet" href="..\..\assets\css\navbar.css">
</head>
<body>
    <div class="navbar">
        <div class="navbar-icon">
            <img src="..\..\assets\img\Logo.png" alt="Logo Navbar" height="80" width="80">
            <span>TRIBITE</span>
        </div>
        <ul>
            <li class="navbar-item"><a href="#">Beranda</a></li>
            <li class="navbar-item"><a href="#">Daftar Menu</a></li>
            <li class="navbar-item"><a href="#">Promo</a></li>
            <li class="navbar-item">
                <button><img src="..\..\assets\img\search-icon.png" height="12" width="12"></button>
                <button>Masuk</button>
            </li>
        </ul>
    </div>
</body>
</html>