<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Tribite</title>
    <link rel="stylesheet" href="..\..\assets\css\global.css">
    <link rel="stylesheet" href="..\..\assets\css\landing.css">
</head>
<body>
    <div class="navbar">
        <div class="navbar-icon">
            <img src="..\..\assets\img\Logo.png" alt="Logo Navbar" height="50" width="50">
            <span>TRIBITE</span>
        </div>
        <ul>
            <li class="navbar-item"><a href="#">Beranda</a></li>
            <li class="navbar-item"><a href="#">Daftar Menu</a></li>
            <li class="navbar-item"><a href="#">Promo</a></li>
            <li class="navbar-item">
                <button><img src="..\..\assets\img\search-icon.png" height="12" width="12"></button>
                <button>Masuk</button>
            </li>
        </ul>
    </div>

    <div class="container">
        <div class="foodtext">
            <span style="color: red; font-size: 24px; padding-bottom: 17px;">Halo Selamat datang di ..</span>
            <span style="font-weight: bold; font-size: 48px; padding-bottom: 17px;">TRIBITE</span>
            <p style="font-size: 18px; padding-bottom: 17px;">Aplikasi pemesan makanan melalui aplikasi cloud<br> 
            yang siap melayani dimana saja dan kapan saja
            </p>
            <button>Pesan Sekarang</button>
        </div>
        <img class="foodicon" src="..\..\assets\img\LandingLogo.png " alt="Landing Logo" height="300" width="350">
    </div>
</body>
</html>